/* Trakcharge Main Styles */
/* [Alpha Alpha] */




body {
            background-color: var(--yellow);
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }
        .caution-border {
            height: 30px;
            background-image: repeating-linear-gradient(
                45deg,
                var(--black) 0,
                var(--black) 15px,
                var(--yellow) 15px,
                var(--yellow) 30px
            );
        }
        header {
            padding: 40px 20px 20px;
        }

        h1 {
            font-size: 3em;
            margin: 0;
        }

        h2 {
            font-size: 1.5em;
            margin-top: 5px;
            color: var(--black);
        }

        .construction-message {
            margin-top: 60px;
            font-size: 1.8em;
            color: var(--black);
            animation: blink 1.5s steps(2, start) infinite;
        }

        @keyframes blink {
            to {
                visibility: hidden;
            }
        }

        .icon {
            font-size: 5em;
            margin-top: 40px;
        }

.hidden {
display: none;
}

.avl {
display: block;
}

  .sl {
    border-bottom: 2px solid;
    border-bottom-color: var(--slc);
    margin: 20px 0;
  }

.dl {
  height: 1px;
  width: 97%;
  margin: 15px auto;
  background: repeating-linear-gradient(
    to right,
    var(--black, #000),
    var(--black, #000) 6px,
    transparent 6px,
    transparent 12px
  );
}

.po-bt {
    font-size: 3rem;
    color: var(--black);
    text-decoration: none;
    border: 2px solid var(--black);
}
.po-bt:hover {
        font-weight: bold;
}