/* Trakcharge Footer Section Styles */
/* [Foxtrot Tango] */
        footer {
            font-size: 0.9em;
            color: var(--ftc);
            padding-bottom: 20px;
        }
        footer a {
            color: inherit;
            text-decoration: none;
        }
        footer a:hover {
            text-decoration: underline;
        }