/* Trakcharge Navigation Section Styles */
/* [November Victor] */

nav a {
    color: var(--black);
    text-decoration: none;
    border: 2px solid;
    border-color: var(--black);
}

nav a:hover {
    font-weight: bold;

}