/* Trakcharge Root Color Styles */
/* [Romeo Tango] */

:root{
      --yellow:#face23;
      --black:var(--black)000;
      --text:#111;
      --muted: rgba(0,0,0,0.65);
      --max-width:1100px;
      --ftc: #444;
      --slc: black;
    }

  [data-theme="inverted"] {
  --black: #face23;   /* original yellow becomes the new "black" role */
  --yellow: #000000;  /* original black becomes the new "yellow" role */
  --ftc: #BBB;
  --text: #EEE;
  --slc: #face23;
}